@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
  @theme {
    --color-primary-orange: #F95F4A;
    --color-primary-pink: #FF007A;
    --color-acm-cream: #FEFCD9;
    --color-acm-dark: #060606;
    --color-acm-dark-alt: #0d0e0d;
    --color-acm-surface: #1a1a1a;
    --color-acm-surface-light: #252525;

    /* Fonts */
    --font-rounded: "SF Pro Rounded", "Hiragino Maru Gothic ProN", Meiryo,
      "MS PGothic", sans-serif;
  }
}

@media android {
  :root {
    --font-mono: monospace;
    --font-rounded: normal;
    --font-serif: serif;
    --font-sans: normal;
  }
}

@media ios {
  :root {
    --font-mono: ui-monospace;
    --font-serif: ui-serif;
    --font-sans: system-ui;
    --font-rounded: ui-rounded;
  }
}