<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleDisplayName</key>
    <string>Conclave</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>UIAppFonts</key>
    <array>
        <string>PolySansTrial-Neutral.otf</string>
        <string>PolySansTrial-Median.otf</string>
        <string>PolySansTrial-Bulky.otf</string>
        <string>PolySansTrial-NeutralMono.otf</string>
        <string>PolySansTrial-MedianMono.otf</string>
        <string>PolySansTrial-BulkyMono.otf</string>
        <string>PolySansTrial-BulkyWide.otf</string>
    </array>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>SFU_CLIENT_ID</key>
    <string>public</string>
    <key>SFU_JOIN_URL</key>
    <string>https://conclave.acmvit.in/api/sfu/join</string>
    <key>NSCameraUsageDescription</key>
    <string>Conclave needs access to your camera to share video in meetings.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Conclave needs access to your microphone to share audio in meetings.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>AccentColor</string>
    </dict>
</dict>
</plist>
